@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --clr-primary-100: 263 55% 52%;
    --clr-secondary-100: 217 19% 35%;
    --clr-secondary-200: 219 29% 14%;
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 210 46% 95%;
    --clr-neutral-300: 0 0% 81%;
    --ff-primary: "Barlow Semi Condensed", sans-serif;
    --fw-500: 500;
    --fw-600: 600;
    --fs-1: 0.6875rem;
    --fs-2: 0.8125rem;
    --fs-3: 1.25rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-weight: var(--fw-500);
    background-color: hsl(var(--clr-neutral-200));
    line-height: 1.5;
}

body, h2, p {
    margin: 0;
    /* text-rendering: optimizeSpeed; */
}

h2 {
    font-weight: var(--fw-600);
}

.test-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";
    padding-block: 2rem;
    margin-inline: auto;
    width: min(95%, 70rem);
}

.test.quote {
    background-image: url("https://kabir-sagiii.github.io/CSS_Grid_learn-grid-the-easy-way/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
}

.test:nth-child(1) {
    grid-area: one;
}

.test:nth-child(2) {
    grid-area: two;
}

.test:nth-child(3) {
    grid-area: three;
}

.test:nth-child(4) {
    grid-area: four;
}

.test:nth-child(5) {
    grid-area: five;
}

.test {
    font-size: var(--fs-500);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-100) / 0.25);
}

.text-neutral-100 {
    color: hsl(var(--clr-neutral-100));
}

.text-secondary-100 {
    color: hsl(var(--clr-secondary-100));
}

.bg-primary-100 {
    background: hsl(var(--clr-primary-100));
}

.bg-secondary-100 {
    background: hsl(var(--clr-secondary-100));
}

.bg-secondary-200 {
    background: hsl(var(--clr-secondary-200));
}

.bg-neutral-100 {
    background: hsl(var(--clr-neutral-100));
}

.profile {
    display: flex;
    gap: 1rem;
}

.test img {
    width: 1.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.border {
    border: 2px solid #a775f1;
}

img, picture {
    max-width: 100%;
    display: block;
}

.test .name {
    font-size: var(--fs-2);
    font-weight: var(--fw-500);
    line-height: 1;
}

.test .graduate {
    font-size: var(--fs-1);
    opacity: 0.5;
}

.test > p:first-of-type {
    font-size: var(--fs-3);
    line-height: 1.2;
}

.test > p:last-of-type {
    font-size: var(--fs-2);
    opacity: 0.7;
}

.flow > *:where(:not(:first-child)) {
    margin-top: 1em;
}


@media screen and (min-width: 33em) {
    .test-grid {
        grid-template-areas:
        "one one"
        "two three"
        "five five"
        "four four";
    }
}

@media screen and (min-width: 38em) {
    .test-grid {
        grid-template-areas:
        'one one'
        'two five'
        'three five'
        'four four';
    }
}

@media screen and (min-width: 54em) {
    .test-grid {
        grid-template-areas:
        "one one two"
        "five five five"
        "three four four";
    }
}

@media screen and (min-width : 75em) {
    .test-grid {
        grid-template-areas: 
        "one one two five"
        "three four four five" ;
    }
}



